@{
    var currentUrl = Url.ActionContext.HttpContext.Request.Path;
}
<div class="container mb-5">
    <div class="row">
        <div class="col-md-2">
            <h5>Sắp xếp theo</h5>
            <select class="form-control" id="sort_by">
                <option>---------</option>
                <option value="@currentUrl?sort_by=price_increase">Giá tăng dần</option>
                <option value="@currentUrl?sort_by=price_decrease">Giá giảm dần</option>

            </select>
        </div>
</div>
